:local(.component) {
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: baseline;
  padding: 0 20px;

  & > .logo > a {
    color: #ff7575;
  }

  & > .menu,
  & > .logo > a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }

  & > .menu {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;

    & > li > a {
      padding: 16px 20px;
      color: #5c4d4d;
      text-decoration: none;
      box-sizing: content-box;
      display: block;
      height: 20px;

      & > * {
        height: 15px;
        display: inline-block;
      }

      &:hover {
        color: #000;
        border-bottom: 3px solid #ff7575;
        padding: 16px 20px 13px;
      }
    }
  }
}
