:local(.component) {
  & > .market {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & > .main {
      width: 70%;
    }

    & > .sidebar {
      width: 30%;
      background: #fff;
      margin-right: 20px;
      padding: 20px;
      border-radius: 2px;

      & > h2 {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}
