:local(.component) {
  & > .banner {
    max-height: 230px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 0px rgba(0, 0, 0, .1);

    & > img {
      max-width: 100%;
    }

    & > .message {
      position: absolute;
      top: 0;
      left: 20px;

      & > p,
      & > h3 {
        font-family: 'Raleway', sans-serif;
        text-shadow: 1px 1px 3px #000;
        line-height: 0;
      }

      & > h3 {
        font-size: 72px;
        color: #fff;
        font-weight: 300;
      }

      & > p {
        font-size: 49px;
        color: #e5e0e0;
        font-weight: 100;
      }
    }

    & > .input {
      position: absolute;
      top: 100px;
      right: 20px;
      
      & > a {
        color: #fff;
        background: #ff7575;
        border-radius: 0 2px 2px 0;
        padding: 7px 7px 6px 7px;
        font-family: 'Montserrat', sans-serif;
      }

      & > input {
        width: 300px;
        font-size: 16px;
        border: 0;
        border-radius: 2px 0 0 2px;
        padding: 7px;
        font-weight: 100;
      }
    }
  }

  & > p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
  }

  & > .market {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    & > .sidebar {
      width: 450px;
      background: #fff;
      margin-right: 20px;
      padding: 20px;
      border-radius: 2px;

      & > h2 {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}

:local(.cardSpacing) {
  flex: 1 0 20%;
  margin: 0 20px;
}
